* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
  body {
    font-family: "Work Sans", sans-serif;
    background-color: #E0FFFF;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
}
/* Medium */ 
@media (min-width: 992px) {
    .container {
      width: 970px;
    }
}
/* large */
@media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
}
nav {
    padding: 20px 15px;
    background-color: antiquewhite;
}
.one {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.one .log_title {
    display: flex;
    font-size: 26px;
    align-items: center;
}
.one .log_title span {
    color: #FFA500;
}
.one .links ul {
    list-style: none;
    font-size: 18px;
    display: flex;
    /* gap: 20px; */
    align-items: center;
}
.one .links ul li {
    margin-left: 30px;
}
.one .links ul li a {
    text-decoration: none;
    color: black;

}
.one .links ul li:last-child {
    color: #fff;
    background-color: #FFA500;
    padding: 10px 20px;
    border-radius: 5px;
}
.one .links ul .col {
    color: white;
}

.one .links ul li:nth-child(4) {
    background-color: ;
    padding: 10px 25px;
    border-radius: 5px;
    
}
/* Main */
main {
    padding: 60px 15px;
}
.lef_rig {
    display: flex; 
     justify-content: space-between;
}
.lef_rig .right {
    width: 55%;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.lef_rig .right p{
    width: 195px;
    background-color: #FFA500;
    border: blueviolet solid 5px;
    border-radius: 5px;
    color: white;
    padding: 15px 10px;
    
}

.lef_rig .left {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.lef_rig .left h1 {
    font-size: 38px;
    max-width: 350px;
}
.lef_rig .left input {
    padding: 10px 135px 10px 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}


/* max-width: 991px */
@media (max-width: 1200px) {
    .lef_rig {
        flex-direction: column; 
    }
    .lef_rig .right {
        width: 100%;
    }
    .lef_rig .right p{
        width: 220px;
    }
    
    .lef_rig .left {
        width: 100%;
        margin: auto;
        margin-bottom: 30px;
    }

    .lef_rig .left input {
        margin: 10px;
    }
    .lef_rig .left h1 {
        margin: auto auto 30px auto;
    }
    .lef_rig .left h1 {
        max-width: 300px;
        text-align: center;
    }
    .lef_rig .left input {
        margin-right: 30px;
    }

}
/* max-width: 767px */
@media (max-width: 767px) {
    .one {
      flex-direction: column;
      text-align: center;
    }
    .lef_rig .right {
        gap: 30px;
        justify-content: center;
    }
    .lef_rig .right p{
        width: 280px;

    }
    .one .log_title{
        margin: auto;
        margin-bottom: 30px;
        margin-left: 40px;
        font-size: 32px;
    }
    .one .links ul{
        flex-direction: column;
        text-align: center;
    }

    .one .links ul li {
        margin-bottom: 30px;
    }
    .lef_rig .left p{
        flex-direction: column;
        /* width: 100%; */
    }
    .lef_rig .left form{
        margin: auto;
    }
}
